[submodule "client-gateway"]
	path = client-gateway
	url = git@github.com:Curso-Nest-Microservices-FH/client-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Curso-Nest-Microservices-FH/products-microservices.git
