[submodule "client-gateway"]
	path = client-gateway
	url = git@github.com:Curso-Nest-Microservices-FH/client-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Curso-Nest-Microservices-FH/products-microservices.git
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/Curso-Nest-Microservices-FH/orders-microservice.git
[submodule "payments-ms"]
	path = payments-ms
	url = https://github.com/Curso-Nest-Microservices-FH/payments-microservice.git
